MyDeveloper/src/flows/eCRM_Survey-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Between_10_to_20_minutes</name>
        <choiceText>10 minutes to less than 20 minutes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 minutes to less than 20 minutes</stringValue>
        </value>
    </choices>
    <choices>
        <name>between_1_3_mins</name>
        <choiceText>1 to less than 3 minutes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 to less than 3 minutes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_20_to_30_minutes</name>
        <choiceText>20 minutes to less than 30 minutes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20 minutes to less than 30 minutes</stringValue>
        </value>
    </choices>
    <choices>
        <name>between_3_to_5_minutes</name>
        <choiceText>3 to less than 5 minutes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 to less than 5 minutes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_5_to_10_minutes</name>
        <choiceText>5 to less than 10 minutes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 to less than 10 minutes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Every_2_3_months</name>
        <choiceText>Every 2 - 3 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every 2 - 3 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>Every_2_3_weeks</name>
        <choiceText>Every 2 - 3 weeks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every 2 - 3 weeks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Every_day</name>
        <choiceText>Every day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Every_month</name>
        <choiceText>Every month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every month</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_1_minute</name>
        <choiceText>Less than 1 minute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 1 minute</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_5_minutes</name>
        <choiceText>Less than 5 minutes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 5 minutes</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_Than_30_minutes</name>
        <choiceText>30 minutes or more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 minutes or more</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_than_a_day</name>
        <choiceText>More than a day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than a day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neutral</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Next_day</name>
        <choiceText>Next day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Next day</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Over_10_minutes</name>
        <choiceText>10 minutes or over</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 minutes or over</stringValue>
        </value>
    </choices>
    <choices>
        <name>Problem_did_not_get_resolved</name>
        <choiceText>Problem did not get resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problem did not get resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Somewhat_dissatisfied</name>
        <choiceText>Somewhat dissatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat dissatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Somewhat_satisfied</name>
        <choiceText>Somewhat satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Very_dissatisfied</name>
        <choiceText>Very dissatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very dissatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Very_satisfied</name>
        <choiceText>Very satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>71</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_for_User_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact User Not found</defaultConnectorLabel>
        <rules>
            <name>Contact_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Exist_or_not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Question_1</targetReference>
            </connector>
            <label>Contact User Found</label>
        </rules>
    </decisions>
    <label>eCRM Survey</label>
    <recordCreates>
        <name>Create_eCRM_Survey_Record</name>
        <label>Create eCRM Survey Record</label>
        <locationX>753</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_First_Name__c</field>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Last_Name__c</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency_of_contacting_eCRM_help__c</field>
            <value>
                <elementReference>Frequency_Contact_eCRM_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_satisfaction_with_eCRM_help__c</field>
            <value>
                <elementReference>Overall_satisfaction_with_eCRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfaction_for_most_recent_eCRM_sup__c</field>
            <value>
                <elementReference>Support_Staff_Recent_Problem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_staff_satisfaction_for_problem__c</field>
            <value>
                <elementReference>Satified_With_SS_YES_NO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_resolve_the_case_by_eCRM_Help__c</field>
            <value>
                <elementReference>Time_to_resolve_the_case_by_eCRM_Help</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_time_over_phone__c</field>
            <value>
                <elementReference>Waiting_time_over_phone</elementReference>
            </value>
        </inputAssignments>
        <object>eCRM_Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>User_Exist_or_not</name>
        <label>User Exist or not</label>
        <locationX>70</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ConEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Screen_for_User_Not_Found</name>
        <label>Error Screen for User Not Found</label>
        <locationX>346</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <fields>
            <name>TryAgain</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Contact information does not match in the system. Please enter the information and try again.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Survey_Question_1</name>
        <label>Survey Question 1</label>
        <locationX>71</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Survey_Question_2</targetReference>
        </connector>
        <fields>
            <name>Overall_satisfaction_with_eCRM</name>
            <choiceReferences>Very_satisfied</choiceReferences>
            <choiceReferences>Somewhat_satisfied</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Somewhat_dissatisfied</choiceReferences>
            <choiceReferences>Very_dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rate your overall satisfaction with your eCRM support experience</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Question_2</name>
        <label>Survey Question 2</label>
        <locationX>66</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Survey_Question_3</targetReference>
        </connector>
        <fields>
            <name>Frequency_Contact_eCRM_Support</name>
            <choiceReferences>Every_day</choiceReferences>
            <choiceReferences>Every_2_3_weeks</choiceReferences>
            <choiceReferences>Every_month</choiceReferences>
            <choiceReferences>Every_2_3_months</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How frequently do you contact eCRM support?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Question_3</name>
        <label>Survey Question 3</label>
        <locationX>234</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Survey_Queston_4</targetReference>
        </connector>
        <fields>
            <name>Support_Staff_Recent_Problem</name>
            <choiceReferences>Very_satisfied</choiceReferences>
            <choiceReferences>Somewhat_satisfied</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Somewhat_dissatisfied</choiceReferences>
            <choiceReferences>Very_dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How satisfied were you with how the eCRM support staff resolved your most recent problem?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Question_5</name>
        <label>Survey Question 5</label>
        <locationX>583</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Survey_Question_6</targetReference>
        </connector>
        <fields>
            <name>Waiting_time_over_phone</name>
            <choiceReferences>Less_than_1_minute</choiceReferences>
            <choiceReferences>between_1_3_mins</choiceReferences>
            <choiceReferences>between_3_to_5_minutes</choiceReferences>
            <choiceReferences>Between_5_to_10_minutes</choiceReferences>
            <choiceReferences>Over_10_minutes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How long did you have to wait on the telephone before the eCRM support representative was available?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Question_6</name>
        <label>Survey Question 6</label>
        <locationX>752</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_eCRM_Survey_Record</targetReference>
        </connector>
        <fields>
            <name>Time_to_resolve_the_case_by_eCRM_Help</name>
            <choiceReferences>Less_than_5_minutes</choiceReferences>
            <choiceReferences>Between_10_to_20_minutes</choiceReferences>
            <choiceReferences>Between_20_to_30_minutes</choiceReferences>
            <choiceReferences>More_Than_30_minutes</choiceReferences>
            <choiceReferences>Next_day</choiceReferences>
            <choiceReferences>More_than_a_day</choiceReferences>
            <choiceReferences>Problem_did_not_get_resolved</choiceReferences>
            <choiceReferences>Between_5_to_10_minutes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How long did it take for customer support to resolve your problem?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Queston_4</name>
        <label>Survey Queston 4</label>
        <locationX>423</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Survey_Question_5</targetReference>
        </connector>
        <fields>
            <name>Satified_With_SS_YES_NO</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were you with how the support staff resolved your most recent problem?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>754</locationX>
        <locationY>131</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYOu</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Thank you for attending this survey. Your feedback is important to us. &lt;/I&gt;&lt;/B&gt;&lt;B&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;For any further query please contact ecrmhelp@fiserv.com&lt;/I&gt;&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;I&gt;&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>72</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>User_Exist_or_not</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for spending the next seven minutes on this eCRM survey.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your participation will help us assess our support and&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;help us plan better help and support for the eCRM in near future. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please start by entering your contact details:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Welcome_Screen</startElementReference>
    <variables>
        <name>ConEmail</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConFirstName</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConLastName</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
