MyDeveloper/src/flows/Mortgage_Calculator-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Calculate_Quote</name>
        <label>Calculate Quote</label>
        <locationX>28</locationX>
        <locationY>365</locationY>
        <apexClass>MortgageCalculator</apexClass>
        <connector>
            <targetReference>Show_Quote</targetReference>
        </connector>
        <inputParameters>
            <name>Amount</name>
            <value>
                <elementReference>Mortgage_Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Term</name>
            <value>
                <elementReference>Term_months</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vaMonthlyAmount</assignToReference>
            <name>MonthlyPayment</name>
        </outputParameters>
    </apexPluginCalls>
    <constants>
        <name>coCompany</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FlowCo Inc.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>103</locationX>
        <locationY>97</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>User_Found_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_User_Exist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mortgage_Information</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <label>Mortgage Calculator</label>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>172</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Get_Mortgage_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>coCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Does_User_Exist</name>
        <label>Does User Exist</label>
        <locationX>183</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>User_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_First_Name</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Last_Name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Get_Customer_Information</name>
        <label>Enter Your Contact Info</label>
        <locationX>25</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Does_User_Exist</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Mortgage_Information</name>
        <label>About Your Mortgage</label>
        <locationX>34</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Calculate_Quote</targetReference>
        </connector>
        <fields>
            <name>Mortgage_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Mortgage Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Term_months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>360.0</numberValue>
            </defaultValue>
            <fieldText>Term (months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Interest_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Interest Rate (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>3</scale>
        </fields>
    </screens>
    <screens>
        <name>Show_Quote</name>
        <label>Show Quote</label>
        <locationX>194</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for contacting us for your mortgage business. Based on the&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;information you gave us, a &lt;FONT KERNING=&quot;1&quot;&gt;{!Term_months}&lt;/FONT&gt;-month mortgage of &lt;FONT KERNING=&quot;1&quot;&gt;{!Mortgage_Amount} &lt;/FONT&gt;would result in payments of &lt;FONT KERNING=&quot;1&quot;&gt;{!vaMonthlyAmount} &lt;/FONT&gt;per&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;month.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Customer_Information</startElementReference>
    <variables>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_First_Name</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Last_Name</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaMonthlyAmount</name>
        <dataType>Currency</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
